

.header{
    text-align: center;
}
.App{
    width: 60rem;
    margin: 0 auto;
    padding: 30px;
    background-image: url("images/cv-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color:black;
    display: grid;
    grid-template-columns: 0.3fr 0.7fr;
}
.side{
    background-color: #00000077;
    color: white;
    padding: 1rem;
}
.resume{
    background-color:#ffffff77;
    color:black;
    padding: 1rem;
}
.edu-submit-button, .work-submit-button{
    background-color: transparent;
    border: 1px solid black;
}
.general-submit-button{
    background-color: transparent;
    border: 1px solid white;
    color: white;
}
.general-info{
    display: flex;
    flex-direction: column;
}
.general-info:hover .general-edit-button{
    display: block;
}
.general-info-form{
    display: flex;
    flex-direction: column;
}
.general-edit-button{
    border: 1px solid white;
    background-color: transparent;
    color: white;
    display: none;
}
/*education*/
.edu-info{
    display: flex;
    flex-direction: column;
}
.edu-form{
    display: flex;
    flex-direction: column;
}
.education-edit-button{
    background-color: transparent;
    border: 1px solid black;
    display: none;
}
.edu-info:hover .education-edit-button{
    display: block;
}
/*work*/
.work-info{
    display: flex;
    flex-direction: column;
}
.work-form{
    display: flex;
    flex-direction: column;
}
.work-edit-button{
    background-color: transparent;
    border: 1px solid black;
    display: none;
}
.work-info:hover .work-edit-button{
    display: block;
}
/*skills*/
.skills-info{
    display: flex;
    flex-direction: column;
}
.remove-skill-button, .add-skill-button{
    background-color: transparent;
    border: 1px solid white;
    color:white
}
.skill-edit-button{
    background-color: transparent;
    color:white;
    border: 1px solid white;
    display: none;
}
.skills-info:hover .skill-edit-button{
    display: block;
}